<div *ngIf="movie != undefined" class="row gap-3 text-light">
    <section aria-label="head" class="row">
        <div class="d-flex align-items-center">
            <div class="me-auto text-start">
                <h1 class="text-danger fw-semibold m-0">{{ movie.title }}</h1>
                <small class="fw-bold fs-5 m-0">{{ movie.launch }}</small>
            </div>
                
            <div class="ms-auto text-end">
                <a (click)="manageFavorite()"
                    [ngbTooltip]="isFavorite ? 'Remove from favorites' : 'Add to favorites'"
                    placement="left" 
                    aria-label="Add to favorites">
                    <i 
                        [ngClass]="isFavorite ? 'bi-suit-heart-fill' : 'bi-suit-heart'" 
                        class="bi fs-2 text-danger" 
                        style="cursor: pointer;">
                    </i>
                </a>
                <p class="m-0">{{ movie.votes }} votes</p>
            </div>
        </div>
    </section>

    <section aria-label="media" class="row gap-3">
        <div class="col-lg-3">
            <img [src]="movie.poster" class="img-fluid rounded-4" alt="poster" />
        </div>

        <div class="col-lg">
            <div class="ratio ratio-21x9 h-100">
                <iframe class="app-movie-trailer rounded-4" [src]="urlTrailer" allowfullscreen></iframe>
            </div>
        </div>
    </section>

    <div class="d-flex justify-content-center justify-content-lg-start gap-3">
        <span
        *ngFor="let genre of movie.genres"
        class="badge rounded-pill fs-6 px-4 py-2 bg-danger">{{ genre }}</span>
    </div>

    <div class="row my-4">
        <p class="fs-5 text-light fw-bold">{{ movie.overview }}</p>
    </div>

    <section class="row" aria-label="movies' credits">
        <div class="d-lg-flex fs-5">
            <p class="fw-semibold me-3 text-danger">Director:</p>

            <div class="d-flex flex-wrap gap-3">
                <div class="d-flex gap-3">
                    <img 
                        *ngIf="movie.director?.profile && !movie.director?.profile?.includes('null')"
                        [src]="movie.director?.profile"
                        class="app-icon rounded-circle">
                    
                    <p>{{ movie.director?.name }}</p>
                </div>
            </div>
        </div>

        <hr />

        <div class="d-lg-flex fs-5">
            <p class="fs-5 fw-semibold me-3 text-danger">Actors:</p>

            <div class="d-flex flex-wrap gap-3">
                <div class="d-flex gap-3"  
                    *ngFor="let credit of movie.actors.slice(0, 5);">

                    <img 
                    *ngIf="credit.profile && !credit.profile.includes('null')"
                    [src]="credit.profile"
                    class="app-icon rounded-circle">

                    <p>{{ credit.name }}</p>
                </div>
            </div>
        </div>

        <hr />

        <div class="d-lg-flex fs-5 mb-5">
            <p class="fs-5 fw-semibold me-3 text-danger">Writers:</p>

            <div class="d-flex flex-wrap gap-3">
                <div class="d-flex gap-3"  
                    *ngFor="let credit of movie.writers.slice(0, 3);">

                    <img 
                    *ngIf="credit.profile && !credit.profile.includes('null')"
                    [src]="credit.profile"
                    class="app-icon rounded-circle">

                    <p>{{ credit.name }}</p>
                </div>
            </div>
        </div>
    </section>
</div>