<div class="container navbar-nav align-items-center">
    <ul class="nav-underline text-danger" ngbNav #nav="ngbNav" [activeId]="1">
        <li [ngbNavItem]="1" >
            <i class="bi bi-lightning-charge"></i>
            <button 
                ngbNavLink
                class="fs-3 fw-bold mx-2 text-danger"
                >Popular</button>

            <ng-template ngbNavContent>
                <app-movie-list listType="popular"></app-movie-list>
            </ng-template>
        </li>
        
        <li [ngbNavItem]="2">
            <i class="bi bi-star"></i>
            <button 
            ngbNavLink
            class="fs-3 fw-bold mx-2 text-danger" 
            >Top Rated</button>

            <ng-template ngbNavContent>
                <app-movie-list listType="topRated"></app-movie-list>
            </ng-template>
        </li>
        
        <li [ngbNavItem]="3">
            <i class="bi bi-clock"></i>
            <button 
                ngbNavLink
                class="nav-link fs-3 fw-bold mx-2 text-danger"
                >Upcoming</button>

            <ng-template ngbNavContent>
                <app-movie-list listType="upcoming"></app-movie-list>
            </ng-template>
        </li>
        
        <li [ngbNavItem]="4">
            <i class="bi bi-suit-heart"></i>
            <button 
                ngbNavLink
                class="nav-link fs-3 fw-bold mx-2 text-danger"
                >Favorites</button>
            
            <ng-template ngbNavContent>
                <p 
                    class="my-5 text-danger fs-4"
                    *ngIf="noFavorites"
                    >You don't have any favorite movie yet.</p>

                <div class="row g-4 mb-5">
                    <app-movie-card 
                        class="col-6 col-md-4 col-lg-3"
                        *ngFor="let movie of favoriteMovies" 
                        [movie]="movie"
                    ></app-movie-card>
                </div>                
            </ng-template>
        </li>
    </ul>
    
    <div class="mt-4" [ngbNavOutlet]="nav"></div>
</div>


