.app-movie-card-container {
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.app-movie-card-container:hover {
    transform: scale(1.02);    
}

.app-movie-img:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px #4b4b4b;
}

.app-movie-title {
    opacity: 0;
    transition: opacity 0.3s;
}

.app-movie-card-container:hover .app-movie-title {
    opacity: 1;
}


