ngb-pagination ::ng-deep a {
    border-color: rgb(220, 53, 69) !important;
    color: rgb(220, 53, 69) !important;
    background-color: transparent;
}

ngb-pagination ::ng-deep a:hover,
ngb-pagination ::ng-deep a:focus {
    background-color: rgb(40, 40, 40);
    color: white !important;
    box-shadow: none !important;
}

ngb-pagination ::ng-deep .page-item.disabled .page-link {
    color: rgb(220, 53, 69, 0.5) !important;
    background-color: transparent;
}

ngb-pagination ::ng-deep .page-item.active .page-link {
    color: white !important;
    background-color: transparent;
}
